<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="zh">
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title><%= category %></title>
       <!-- Framework CSS -->
       <link rel="stylesheet" href="/styles/blueprint/screen.css" type="text/css" media="screen, projection">
       <link rel="stylesheet" href="/styles/blueprint/print.css" type="text/css" media="print">
       <!--[if lt IE 8]><link rel="stylesheet" href="/styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

       <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" charset="utf-8" />
    <body>
    <div class="container">

       <h2 id="title" class="span-24 last"><%= category %></h2>

       <div id="team" class="span-3 colborder">
         <p>分类最近更新：
         [ cs  en  he  ml  ru  ta  zh  ]</p>
         <p>维基短址服务：
         [ cs  en  he  ml  ru  ta  zh  ]</p>
         <p>by <a href="http://github.com/mountain/ultrafilter">Ultrafilter</a></p>
       </div>

       <div class="span-14 colborder">
       <h3 id="title" class="span-12">最近更新</h3>
       <ul id="changes" class="span-14">
       <% for(var ind in changes) { var change = changes[ind]; %>
         <li><%= change.rc_timestamp.toString().split(' ')[4] %>&nbsp;&nbsp;<a href="/r/<%= lang %>/<%= change.rc_page_id.toString(36) %>"><%= change.rc_title %></a></li>
       <% } %>
       </ul>
       <span id="pages" class="span-12">
       <% for(var i=1;i<=pagenum;i++) { %>
         <a href="/rc/<%= lang %>/<%= escape(encode(category)) %>/<%= i %>"><%= i %></a>&nbsp;&nbsp;
       <% } %>
       </span>
       </div>

       <div class="span-5 last">
       <h3 id="title" class="span-5">子分类</h3>
       <ul id="subcategories" class="span-5">
       <% for(var ind in subcategories) { var sub = subcategories[ind]; %>
         <% if(sub) { %><li><a href="/rc/<%= lang %>/<%= sub.cat_title %>"><%= sub.cat_title %></a></li><% } %>
       <% } %>
       </ul>
       </div>

   </div>
   </body>
</html>

