<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= lang %>" lang="<%= lang %>" dir="<%= dir %>">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ultrafilter.org</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
    <div id="langs"> [&nbsp;
    <% for(var ind in langs) { var l = langs[ind]; %>
      <a href="/<%= l %>"><%= l %></a>&nbsp;
    <% } %>
    ] </div>
    <h2 id="title"><%= msg[variant]['services'] %></h2>
    <ul id="services">
    <% for(var ind in services.supported[variant]) { var s = services.supported[variant][ind], key = services.abbrs[s];%>
      <li><a href="/<%= variant %>/<%= s %>"><%= msg[variant][key] %></a></li>
    <% } %>
    </ul>
    <p id="team"><%= msg[variant]['byfor'] %></p>
</body>
</html>

