<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= lang %>" lang="<%= lang %>" dir="<%= dir %>">
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title><%= msg[variant]['userdiscussions'] %> : <%= user %></title>
     <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" charset="utf-8" />
  <body>
  <div id="langs"> [&nbsp;
  <% for(var ind in langs) { var l = langs[ind]; %>
    <% if(services.isSupported(l, 'n')) { %><a href="/<%= l %>/n"><%= l %></a>&nbsp;<% } %>
  <% } %>
  ] </div>
  <h2 id="title"><%= msg[variant]['userdiscussions'] %> : <%= user %></h2>
  <div id="userdiscussions">
  <% if(discussions.length > 0) { %>
  <% var group = 0, first = discussions[0].rc_timestamp.toString().split(' '); %>
  <h4><%= first[0] + " " + first[1] + " " + first[2] %></h4>
  <ul id="discussions<%= group %>">
  <% for(var ind in discussions) { var discuss = discussions[ind], seg = discuss.rc_timestamp.toString().split(' '), last; %>
    <% var closeOpen = last && (last[0]!==seg[0] || last[1]!==seg[1] || last[2]!==seg[2]); %>
    <% if(closeOpen) { %> </ul> <h4><%= seg[0] + " " + seg[1] + " " + seg[2] %></h4> <ul id="discussions<%= group %>"> <% } %>
    <li><%= seg[4] %>&nbsp;&nbsp;<a href="/r/<%= variant%>/<%= discuss.rc_page_id.toString(36) %>"><%= discuss.ntf_talk_title %></a></li>
    <% if(closeOpen) { group++; } %>
    <% last = seg; %>
  <% } %>
  </ul>
  <% } %>
  </div>
 </body>
</html>

